
{% extends 'base2.html' %}
{% load crispy_forms_tags %}


    {% block content %}
    <!--navbar-->

<a href="/" class="btn btn-lg btn-info"><i class="fas fa-home"> </i> Home</a>
    <!--for login form-->
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg" >
                                    <div class="card-header"><h2 class="text-center font-weight-light ">Login</h2></div>
                                    
                                    <div class="card-body">
                                      
                                        <form method="POST" class="justify-content-center" >
                                          {% csrf_token %}

                                          {{form|crispy}}

                                           
                                            
                                            <input type="submit" name="submit" value="Login" class="btn btn-block btn-info">
                                            <!-- <a href="{% url 'dashboard:signup' %}" class="small  float-right">Don't have an account ? Sign up !</a><br>
                                            <div class="form-group float-right d-flex align-items-center justify-content-between"><a class="small" href="/reset_password">Forgot Password ? </a></div> -->
                                           
                                            <div class="form-check mt-2 mr-sm-2">
                                                <input
                                                  class="form-check-input"
                                                  type="checkbox"
                                                  id="inlineFormCheck"
                                                />
                                                <label class="form-check-label" for="inlineFormCheck">
                                                  Remember me
                                                </label>
                                              </div><hr>

                                              <div class="row">
                                                <div class="col">
                                                  <div class="small"><a  href="/reset_password/">Forgot Password?</a></div>
                            
                            
                                                </div>
                                                <div class="col">
                                                  <div class="small"><a href="{% url 'dashboard:signup'%}"> Create New Account!</a></div>
                                                </div>
                                              </div>
                                            
                                        </form>
                                        
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
    
    <style>
        body{
            background: #F5F5DC;;
        }
    </style>
{% endblock %}
