

{% extends 'base.html' %}

{% load static %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/product_view.css' %}">


	

           
            <!-- <img id=featured src="images/shoe1.jpg"> -->
          
			


				<img class="thumbnail" src="{{products.imageUrl}}">
				<!--use imageUrl is defined in @decorator in Product model-->

<!-- 			
					<h6>{{products.name}}</h6>
					<hr>
					<h5 class="mb-0" style="display: inline-block;font-size:18px;color:#FF8C00;">
						${{products.get_final_price_after_discount}}
					</h5>

					<div style="margin-right:40%;">
						<del style="display:inline-block;font-size:15px;color:#FF8C00;">
							${{products.price}}
						</del>

						<p class="badge badge-secondary">{{products.discount}} % off</p>
					
						<button data-action="add" data-product="{{product.id}}"
						class="btn btn-outline-secondary add-btn update-cart ">
						Add to Cart
					</button>
 -->


<!-- 
			<div id="slide-wrapper" >
				<img id="slideLeft" class="arrow" src="images/arrow-left.png">

				<div id="slider">
					<img class="thumbnail active" src="images/shoe1.jpg">
					<img class="thumbnail" src="images/shoe2.jpg">
					<img class="thumbnail" src="images/shoe3.jpg">

				</div>

				<img id="slideRight" class="arrow" src="images/arrow-right.png"> -->
          
            <!-- 
		</div>

		<div class="column">
			<h1>Awesome Shoes</h1>
			<hr>
			<h3>$89.99</h3>

			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

			<input value=1 type="number">
			<a class="btn btn-dark" href="#">Add to Cart</a>
		</div>

	</div>

	<script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

</body>
</html> -->

{% endblock %}