
  {% for product in products %}
		
  <div class="col-lg-2">
  
      <img class="thumbnail" src="{{product.imageUrl}}"><!--use imageUrl is defined in @decorator in Product model-->
      
      <div class="box-element product">
          <h6>{{product.name}}</h6>
          <hr>
          <h5 class="mb-0" style="display: inline-block;font-size:18px;color:#FF8C00;">
              ${{product.get_final_price_after_discount}}
          </h5>
      
              <div style="margin-right:40%;">
                  <del style="display:inline-block;font-size:15px;color:#FF8C00;">
                      ${{product.price}}
                  </del>
              
                  <p class="badge badge-secondary">{{product.discount}} % off</p>
              </div>
          
              

          
          
           <button data-action = "add" data-product = "{{product.id}}" class="btn btn-outline-secondary add-btn update-cart ">
              Add to Cart
          </button>
          <a class="btn btn-outline-success" href="{% url 'store_app:view' product.id %}">View Details</a>
      

      </div>
    </div>
    {% empty %}
    <div class="card" style="margin-left:200px;">
     <div class="card-body">
      <h5 class="card-header"><strong>No Products found ! Please  search with appropriate keywords .</strong></h5>
     </div>
   
    </div>
    {% endfor %}
