

<!DOCTYPE html>

{% load static %}
<html lang="en">

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}  {% endblock %}</title>
</head>

{% include 'css.html' %}

{% endblock %}


<body>

    {% include 'navbar.html' %}


 <div class="container">
     <br>
    {% block content %}{% endblock %}
    
 </div>
<!--for bootstrap js,popper.js,jQuery-->
 {% include 'js.html' %}

 {% block js %}
{% endblock %}

<!-- <script src="{% static 'search_ajax/products.js' %}"></script> -->
</body>

</html>