

{% extends 'base2.html'%}


{% load crispy_forms_tags %}

{% block content %}


<a href="/" class="btn btn-lg btn-info ml-3"><i class="fas fa-home"> </i> Go To Home</a>
<br>
<div class="col-md-12 form-4">
    
<form method="POST">
    {% csrf_token %}
    
    

    <div class="card">
        <h3 class="card-header">Reset Password</h3>
        <div class="card-body">
          <h5 class="card-title">Forgotten your password ? Enter your email address below, and we'll email instruction for settings a new one</h5>
               <hr>

        <div class="col-md-6">
            {{form|crispy}}
            <input type="submit" value="Submit" class="btn btn-info">
        </div>
     
      
        </div>
      </div>
    

   

    

</form>
</div>
<style>
  body{
		background: #F5F5DC;;
	}
</style>

{% endblock %}
